In [1]:
import pandas as pd

df=pd.read_csv(r"C:\Users\OWNER\Desktop\VICTOR\cleanedBHP.csv")

In [2]:
df

                 location  total_sqft  bath   price  BHK
0     1st Block Jayanagar      2850.0   4.0  428.00    4
1     1st Block Jayanagar      1630.0   3.0  194.00    3
2     1st Block Jayanagar      1875.0   2.0  235.00    3
3     1st Block Jayanagar      1200.0   2.0  130.00    3
4     1st Block Jayanagar      1235.0   2.0  148.00    2
...                   ...         ...   ...     ...  ...
9389                other      1353.0   2.0  110.00    2
9390                other       812.0   1.0   26.00    1
9391                other      1440.0   2.0   63.93    3
9392                other      1075.0   2.0   48.00    2
9393                other      3600.0   5.0  400.00    4

[9394 rows x 5 columns]

In [4]:
dummies=pd.get_dummies(df.location)

In [6]:
df1=pd.concat([df.drop("location",axis="columns"),dummies.drop("other",axis="columns")],axis="columns")

In [7]:
df1.head()

,total_sqft,bath,price,BHK,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2850.0,4.0,428.0,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,194.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1875.0,2.0,235.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1200.0,2.0,130.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1235.0,2.0,148.0,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
x=df1.drop("price",axis="columns")
y=df1.price

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [45]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression(copy_X=True,fit_intercept=Truepredict_price('Indira Nagar',1000, 2, 2))
lr.fit(x_train,y_train)
lr.score(x_test,y_test)

0.8112952890450273

In [46]:
from sklearn.model_selection import ShuffleSplit,cross_val_score
cv=ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)
cross_val_score(LinearRegression(),x,y,cv=cv)

array([0.79732513, 0.86952167, 0.81241084, 0.87442263, 0.88490795])

In [18]:
import pandas as pd
from sklearn.model_selection import GridSearchCV, ShuffleSplit
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.tree import DecisionTreeRegressor

def finding_the_best_model(x, y):
    algos = {
        "linear regression": {
            "model": LinearRegression(),
            "params": {
                "fit_intercept": [True, False],
                "copy_X": [True, False]
                # You can add other parameters here
            }
        },
        "lasso": {
            "model": Lasso(),
            "params": {
                "alpha": [1, 2],
                "selection": ["random", "cyclic"]
            }
        },
        "decision tree": {
            "model": DecisionTreeRegressor(),
            "params": {
                "criterion": ["mse", "friedman_mse"],
                "splitter": ["best", "random"]
            }
        }
    }
    
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    
    for algo_name, config in algos.items():
        gs = GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(x, y)
        
        scores.append({
            "model": algo_name,
            "best_score": gs.best_score_,
            "best_params": gs.best_params_
        })
    
    return pd.DataFrame(scores, columns=["model", "best_score", "best_params"])

# Replace x and y with your actual data
# best_model_scores = finding_the_best_model(x, y)
# print(best_model_scores)

In [19]:
finding_the_best_model(x,y)

C:\Users\OWNER\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
10 fits failed out of a total of 20.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\OWNER\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\OWNER\anaconda3\lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\OWNER\anaconda3\lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\OWNER\anaconda3\lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'friedman_mse', 'absolute_error', 'poisson', 'squared_error'}. Got 'mse' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\OWNER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.74407432 0.7193767 ]
  warnings.warn(

,model,best_score,best_params
0,linear regression,0.847718,"{'copy_X': True, 'fit_intercept': True}"
1,lasso,0.722229,"{'alpha': 1, 'selection': 'cyclic'}"
2,decision tree,0.744074,"{'criterion': 'friedman_mse', 'splitter': 'best'}"

In [47]:
def predict_price(location,sqft,bath,bhk):    
    loc_index = np.where(x.columns==location)[0][0]

    b = np.zeros(len(x.columns))
    b[0] = sqft
    b[1] = bath
    b[2] = bhk
    if loc_index >= 0:
        b[loc_index] = 1

    return lr.predict([x])[0]

In [48]:
import numpy as np

def predict_price(location, sqft, bath, bhk):
    loc_index = np.where(x.columns == location)[0][0]

    b = np.zeros(len(x.columns))
    b[0] = sqft
    b[1] = bath
    b[2] = bhk
    if loc_index >= 0:
        b[loc_index] = 1

    return lr.predict([b])[0]

In [50]:

predict_price('1st Phase JP Nagar',1000, 2, 2)

C:\Users\OWNER\anaconda3\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

92.0751715155858

In [51]:
predict_price('1st Phase JP Nagar',1000, 3, 3)

C:\Users\OWNER\anaconda3\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

96.31995934356713

In [52]:
predict_price('Indira Nagar',1000, 2, 2)

C:\Users\OWNER\anaconda3\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

173.69296450248265

In [53]:
predict_price('Indira Nagar',1000, 3, 3)

C:\Users\OWNER\anaconda3\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

177.93775233046398

In [54]:
import pickle
with open('BHP_model.pickle','wb') as f:
    pickle.dump(lr,f)

In [56]:
import json
columns = {
    'data_columns' : [col.lower() for col in x.columns]
}
with open("BHP_columns.json","w") as f:
    f.write(json.dumps(columns))